<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiven.kutils"
    android:versionCode="2"
    android:versionName="0.2">

    <!--<uses-sdk
        tools:overrideLibrary="android.support.v7.appcompat, android.support.fragment, android.support.coreutils, android.support.graphics.drawable.animated" />-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="com.kiven.kutils.activityHelper.KHelperActivity" />
    </application>
</manifest>